/* Resalta el menú activo */
.nav-link.active,
.btn-toggle.active {
  background-color: #0d6efd; /* azul bootstrap */
  color: white !important;
  font-weight: 600;
  border-radius: 0.25rem;
}

/* Para íconos activos también puedes cambiar color */
.nav-link.active svg,
.btn-toggle.active svg {
  color: white;
}

/* Opcional: efecto hover */
.nav-link:hover,
.btn-toggle:hover {
  background-color: #0b5ed7;
  color: white !important;
  cursor: pointer;
}

.flyout-with-arrow {
  position: relative;
}

.flyout-with-arrow::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -8px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #343a40; /* mismo color que bg-dark */
}
